<p>Welcome to {{ organisation }} (Organisation id: {{id}}) {{ name }},</p>
<p>Please login in with your registered username and password.</p>
<p>
    &nbsp&nbsp&nbsp&nbsp
    Username: {{ username }}
</p>
<p>
    &nbsp&nbsp&nbsp&nbsp
    Password: {{ password }}
</p>
{{#notEqualsOne id}}
{{/notEqualsOne}}
<p>Please change your password once you have logged in successfully.</p>